<div class="page">
  <div class="alarmContainer">
    <div class="addAlarm">
        <div class="alarmSelect">
          <select id="am" style="margin-right:10px;">
              <option value="0">오전</option>
              <option value="1">오후</option>
          </select>
          <select id="hour"></select><span>시</span>
          <select id="minute"></select><span>분</span>
        </div>
      <div class="btn saveBtn" style="width:50px">저장</div>
    </div>
     
    <div class="alarmList"></div>
  </div>
</div>