<div class="page">
  <div class="menuContainer">    
      <div class="menu">
         <span class="history" route="/alarm">알람</span>
      </div>
      <div class="menu">
         <span class="history" route="/memo">메모</span>
      </div>
      <div class="menu">
          <span class="history" route="/photo">사진</span>
      </div>
  </div>
</div>