<div class="page">
  <div class="menuContainer">    
      <div class="menu">
         <a class="hash" href="#alarm">알람</a>
      </div>
      <div class="menu">
         <a class="hash" href="#memo">메모</a>
      </div>
      <div class="menu">
          <a class="hash" href="#photo">사진</a>
      </div>
  </div>
</div>